* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    color: #6DAFE0
}

/* Landing Section*/

#landing-container,
#game-container {
    display: flex;
    min-height: 100vh;
    background: #eee;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-text {
    padding-right: 0.5em;
    font-size: 1.5em;
}

.one-player, .two-players {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline:none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: .2em;
    transition: all 1s;
}

.one-player {
    background-image: url('../img/one.svg');
}

.two-players {
    background-image: url('../img/two.svg');
}

.one-player:hover, .two-players:hover {
    transform: scale(1.1);
}

.player-names {
    margin-top: 1.5em;
}

label {
    font-weight: 700;
    font-size: 2em;
    text-align: right;
    line-height: 26px;
}

input {
    height: 30px;
    margin-left: .5em;
    font-size: 0.65em;
}

/* Gameboard Section*/

.gameboard-grid {
    margin-top: 3em;
    display: grid;
    width: 18em;
    height: 18em;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
}

#cell-1,
#cell-2,
#cell-3 {
    border-top: none;
}

#cell-1,
#cell-4,
#cell-7 {
    border-left: none;
}

#cell-3,
#cell-6,
#cell-9 {
    border-right: none;
}

#cell-7,
#cell-8,
#cell-9 {
    border-bottom: none;
}

.block:hover {
    cursor: pointer;
    background: #0ff30f;
}

.occupied:hover {
    background: #ff3a3a;
}

/* Buttons */

.play-button {
    margin-top: 3em;
    outline: none;
    border: 4px solid #6DAFE0;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

.play-button:hover {
    cursor: pointer;
    background: #6DAFE0;
    color: white;
}